{% load static %}
<!DOCTYPE html>
<html lang="en" class="codepen">

<head>

    <meta charset="utf-8">
    <title>SHJSEEN</title>
    <meta content="Sharjah Excellence Award, The biggest award for achievement and excellence." name="description">
    <meta content="Sharjah Excellence Award, The biggest award for achievement and excellence." property="og:title">
    <meta content="Sharjah Excellence Award, The biggest award for achievement and excellence." property="og:description">

    <meta content="https://www.sharjah.gov.ae/" itemprop="image" property="og:image">
    <meta content="https://www.sharjah.gov.ae/" property="og:url">

    <meta content="https://www.sharjah.gov.ae/" itemprop="image" property="og:image">
    <meta content="https://www.sharjah.gov.ae/" property="og:url">

    <meta name="twitter:title" content="Sharjah Excellence Award, The biggest award for achievement and excellence.">
    <meta name="twitter:description" content="Sharjah Excellence Award, The biggest award for achievement and excellence.">
    <meta name="twitter:image" content="https://www.sharjah.gov.ae">
    <meta name="twitter:card" content="summary_large_image">

    <meta content="summary" name="twitter:card">
    <link href="{% static 'img/favicon.ico' %}" rel="shortcut icon" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{% static 'img/favicon.ico' %}" />
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <link href="{% static 'img/favicon.ico' %}" rel="shortcut icon" type="image/x-icon" />

    <!-- Facebook Pixel Code -->
    <script>
        ! function(f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function() {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '286844318489508');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=286844318489508&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
    <!-- Favicons -->
    <link href="{% static 'img/favicon.ico' %}" rel="icon">
    <link href="{% static 'img/favicon.ico' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="{% static 'css/website-style.css' %}" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159142509-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-159142509-1');
    </script>

    <!-- Google Tag Manager -->
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-TTTBGFW');
    </script>
    <!-- End Google Tag Manager -->


</head>

<body>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TTTBGFW"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!--==========================
  Header
============================-->
<header id="header">
    <div class="container-fluid">

        <div class="logo">
            <a href="{% url 'landing_page' %}" class="scrollto"> <img src="{% static 'img/logo.png' %}" alt=""></a>
            <!-- <div class="arabic">
                <a class="cta-btn" href="submit_ar">AR</a>
                <a class="cta-btn" href="https://portal.netalents.com" target="_blank">الدخول</a>
            </div> -->

            <!-- <div class="provider">
                <a class="cta-btn" href="index_Provider" target="_blank">أبحث عن عمل</a>

            </div> -->
        </div>


    </div>
</header>
<!-- #header -->
<main id="main">


    <section id="about" class="centerheight">
        <div class="container">



            <div class="demo-form">
                <div class="form-section text-center">


                    <h2><b>Registration Successful</b></h2>
                    <h4>We will connect with you after reviewing your registration.</h4>
                    <button type="button" onclick="location.href='{% url 'landing_page' %}';" class="getstarted submit btn btn-info text-center connect">Home <i class="fa fa-angle-right"></i></button>

                </div>



            </div>


        </div>
    </section>
</main>



<footer id="bottomlink">


    <div class="container">
        <div class="row about-cols">
            <div class="col-md-6 text-left">
                <b> <a href="https://www.sharjah.gov.ae/" target="_blank">SHJSEEN</a></b>&nbsp; Copyright 2022. All rights reserved
                <br />
                <b>Powered By <a href="https://www.sharjah.gov.ae/" target="_blank">Sharjah Chamber of Commerce</a></b>
            </div>
            <div class="col-md-6 text-right">
                <b>
                    Follow us
                </b>
                <br />
                <div class="social-links">

                    <a href="https://www.facebook.com/ShjSEEN" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.instagram.com/shjseen/" target="_blank" class="instagram"><i class="fa fa-instagram"></i></a>

                    <a href="https://twitter.com/shjSEEN" target="_blank" class="linkedin"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.linkedin.com/company/shjseen/" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    <a href="https://www.youtube.com/channel/UCNijiN0k7q3rjPyuaffUIug" target="_blank" class="linkedin"><i class="fa fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>


<script src="{% static 'js/jquery.min.js' %}"></script>
<script src='js/formslide.js'></script>

<script id="rendered-js">
    $(function() {
        var $sections = $('.form-section');

        function navigateTo(index) {
            // Mark the current section with the class 'current'
            $sections.
            removeClass('current').
            eq(index).
            addClass('current');
            // Show only the navigation buttons that make sense for the current section:
            $('.form-navigation .previous').toggle(index > 0);
            var atTheEnd = index >= $sections.length - 1;
            $('.form-navigation .next').toggle(!atTheEnd);
            $('.form-navigation [type=submit]').toggle(atTheEnd);
        }

        function curIndex() {
            // Return the current index by looking at which section has the class 'current'
            return $sections.index($sections.filter('.current'));
        }

        // Previous button is easy, just go back
        $('.form-navigation .previous').click(function() {
            navigateTo(curIndex() - 1);
        });

        // Next button goes forward iff current block validates
        $('.form-navigation .next').click(function() {
            if ($('.demo-form').parsley().validate({
                group: 'block-' + curIndex()
            }))
                navigateTo(curIndex() + 1);
        });

        // Prepare sections by setting the `data-parsley-group` attribute to 'block-0', 'block-1', etc.
        $sections.each(function(index, section) {
            $(section).find(':input').attr('data-parsley-group', 'block-' + index);
        });
        navigateTo(0); // Start at the beginning
    });
    //# sourceURL=pen.js
</script>



</body>

</html>
